body{
    font-family: Almarai, Helvetica;
    background-color: #12121f;
    color: #eee;
    font-size: large;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode{
    background-color: #12121f;
    color: #eee;
    font-size: large;
}

.light-mode{
    background-color: #ffffff;
    color: rgb(4, 4, 4);
    font-size: large;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.my-git{
    color: gold;
}

.my-git-light{
    color: #3d3def;
}

.month-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 4px;
}

.year-text{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.input{
    border-radius: 3px;
    border-color: lightcyan;
}

.input:focus::placeholder{
    color: transparent;
}

.input::placeholder{
    color: darkgray;
    transition: color 0.3s ease;
}

.mode{
    display: flex;
}

.switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 30px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider-round:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 22px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider-round{
    background-color: #121213;
}

input:focus + .slider-round{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-round::before{
    -webkit-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
}