body{
    font-family: Almarai, Helvetica;
    background-color: #12121f;
    color: #eee;
    font-size: large;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year-text{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.input{
    border-radius: 3px;
    border-color: lightcyan;
}

.input:focus::placeholder{
    color: transparent;
}

.input::placeholder{
    color: darkgray;
    transition: color 0.3s ease;
}

